<ng-container *ngIf="workers.length > 0">
  <div class="row" [style.width]="'100%'">
    <div [style.width]="'100%'">
      <h5>{{ title }}</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" [style.width]="'100px'"><button  class="btn btn-outline-primary" (click)='reverseSortID()'>#</button></th>
            <th scope="col" [style.width]="'15%'">Имя</th>
            <th scope="col"[style.width]="'17%'">Фамилия</th>
            <th scope="col"[style.width]="'17%'">Отчество</th>
            <th scope="col"[style.width]="'16%'">Номер</th>
             <th scope="col"[style.width]="'13%'">Почта</th>
              <th scope="col"[style.width]="'12%'"><button class="btn btn-outline-primary" (click)='reverseSortBirthday()'>Дата рождения</button></th>
            <th scope="col" [style.width]="'11%'"></th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let worker of workers | myfilter : searchworker |id:sorting:direction">
            <th scope="row">{{ worker.id }}</th>
            <td>{{ worker.name }}</td>
            <td>{{ worker.surname }}</td>
            <td>{{ worker.patr }}</td>
            <td>{{ worker.phone }}</td>
            <td>{{ worker.email }}</td>
            <td>{{ worker.bd }}</td>
            <td>
            
              <button
                class="btn btn-outline-danger btn-sm"
                (click)="onDeleteWorker(worker.id)"
              >
                Удалить
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>

