<div class="container">
  <div class="row mb-3" style="text-align: center;">
<form  [formGroup]="myForm">
<div class="row mb-3">
  <div class="col-12">
    <h5>Добавить сотрудника</h5>
  </div>
  <div class="col-4">
    <input
      type="text"
      class="form-control"
      placeholder="Имя"
      formControlName="name"
    />
  </div>
  <div class="col-4">
    <input
      type="text"
      class="form-control"
      placeholder="Фамилия"
      formControlName="surname"
    />
  </div>
   <div class="col-4">
    <input
      type="text"
      class="form-control"
      placeholder="Отчество"
      formControlName="patr"
    />
  </div>
  <div class="col-4">
   <input 
      pattern="[0-9]{10}"
      type="text"
      class="form-control"
      placeholder="Номер телефона"
      formControlName="phone"
      [textMask]="{mask: mask}"
    />
  </div>
   <div class="col-4">
    <input
      type="email"
      class="form-control"
      placeholder="email"
      formControlName="email"
    />
  </div>
  <div class="col-4">
    <input
      type="date"
      class="form-control"
      placeholder="bd"
      formControlName="bd"
    />
  </div>
  <div class="col-4">
    <select class="custom-select" formControlName="type">
      <option [ngValue]="myWorkerType.programmer">Программист(IT отдел)</option>
      <option [ngValue]="myWorkerType.sale">Отдел продаж</option>
      <option [ngValue]="myWorkerType.del">Отдел доставки</option>
      <option [ngValue]="myWorkerType.law">Юрист</option>
    </select>
  </div>
  <div class="col-12 mt-1">
    <button class="btn btn-outline-primary btn-sm" [disabled]="myForm.controls['name'].invalid ||myForm.controls['surname'].invalid" (click)="onAddWorker()">Добавить</button>
  </div>
  </div>


 <div class="alert alert-danger" *ngIf="myForm.controls['name'].invalid && myForm.controls['name'].touched">Не указано имя</div> 
 <div class="alert alert-danger" *ngIf="myForm.controls['surname'].invalid && myForm.controls['surname'].touched">Не указана фамилия</div> 
</form>
</div>
</div>
